*{
    padding: 0%;
    margin: 0%;}
    body{
    background-image:radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url('travelling.jpg.jpg');
    background-size: cover;
}
.content{
    text-align: center;
    margin-top: 25%;
    color: antiquewhite;
}
.header{
    text-align: center;
    color:yellow;
    background-color: black;
    
}
img{
    height: 100px;
    width: 100px;
    margin-left: 2%;
}
.signin{
    background-color: red;
    color: white;
    margin-left: 80%;
    height: 50px;
    width: 70px;
}
.search{
    width: 10cm;
    height: 1cm;
}
.bttn{
    background-color: green;
    color: aliceblue;
    height: 50px;
    width: 70px;
}